<div class="home-banner">
  <h1 class= "mt-5">Privatisez un jardin ou une piscine !</h1>
  <div class="d-flex justify-content-center">
    <%= form_tag gardens_path, method: :get, class: "d-flex align-center w-50" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Ville"
    %>
    <%= submit_tag "Rechercher", class: "btn btn-dark" %>
    <% end %>
  </div>
</div>

<div class="garden-container">
  <div class="cards">
    <% @gardens.last(12).each do |garden| %>
      <div class="card-garden">
      <%= link_to garden_path(garden) do %>
      <% if garden.photos.empty? %>
        <%= image_tag "garden_one", class:"img-garden " %>
      <% else %>
        <%= cl_image_tag garden.photos.first.key, class:"img-garden" %>
      <% end %>
      <h3 class="text-center my-2"><%= garden.title %></h3>
      <p class="mx-1"><%= garden.town %></p>
      <div class="d-flex justify-content-between mx-1">
        <p>Capacité : <%= garden.capacity %></p>
        <p><%= garden.price_per_hour %>€ /heure</p>
      </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
