<div class="index-banner">
  <div>
      <h4 class="p-3">Trouve le jardin idéal pour ton évènement !</h4>
  </div>
  <div class="d-flex justify-content-center">
    <%= form_tag gardens_path, method: :get, class: "d-flex align-center w-50" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Recherche ton jardin idéal par mot clé ou ville"
    %>
    <%= submit_tag "Rechercher", class: "btn btn-dark" %>
    <% end %>
  </div>
</div>


<div class="row mt-3 ">
  <div class="col-md-6 ">
    <div class="container d-flex justify-content-around mx-3">
      <div class="cards-map">
        <% @gardens.each do |garden| %>
          <div class="card-garden mt-4">
          <%= link_to garden_path(garden) do %>
            <% if garden.photos.empty? %>
              <%= image_tag "garden_one", class:"img-garden" %>
            <% else %>
              <%= cl_image_tag garden.photos.first.key, class:"img-garden" %>
            <% end %>
            <h3 class="text-center my-2"><%= garden.title %></h3>
            <p class="mx-1"><%= garden.town %></p>
            <div class="d-flex justify-content-between mx-1">
              <p> Capacité : <%= garden.capacity %></p>
              <p><%= garden.price_per_hour %>€ /heure</p>
            </div>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div style="width: 100%; height: 280px"
      id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
