
<h1><%= @garden.title %></h1>
<%# <p>City : <%= @garden.city %></p> %>
<p>Size : <%= @garden.size %> m2</p>
<p>Capacity : <%= @garden.capacity %>  approx/people</p>
<p>Description : <%= @garden.description %></p>
<p>Price : <%= @garden.price_per_hour %> $/per hour</p>
<br>
<h3>Reviews</h3>
<%# <p><%= @user.review %></p> %>
<br>
<%= link_to 'Main menu', root_path %>

<%= link_to "New Garden", new_garden_path if policy(Garden).new? %>

<% if policy(@garden).edit? %>
  <%= link_to "Edit this Garden", edit_garden_path(@garden) %> |
<% end %>
<!-- [...] -->
<%= button_to "Destroy this garden", @garden, method: :delete if policy(@garden).destroy? %>
