<div container class="container fullscreen_footer">
  <h1><%= @garden.title %></h1>
  <div class="d-flex">
    <div>
      <% @garden.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <%# <p>City : <%= @garden.city %></p>
      <p> Surface : <%= @garden.size %> m2</p>
      <p> Capacité d'accueil : <%= @garden.capacity %> personnes</p>
      <p> Description : <%= @garden.description %></p>
      <p> Prix : <%= @garden.price_per_hour %> €/par heure</p>
      <br>

      <br>
      <%= link_to 'Main menu', root_path, class: "btn btn-flat" %>
    </div>
    <div data-controller="total-price" data-action="change->total-price#updateprice" data-total-price-pph-value="<%= @garden.price_per_hour %>">
      <%= simple_form_for [@garden, @booking] do |f| %>
        <%= f.input :start_date, as: :datetime, html5: true, input_html: {data: {total_price_target: "startdate"}}, :label => "Début"%>
        <%= f.input :end_date, as: :datetime, html5: true, input_html: {data: {total_price_target: "enddate"}}, :label => "Fin"%>
        <p data-total-price-target = "Prix total"></p>
        <%= f.submit 'Réserver', class: " btn btn-flat" %>
      <% end %>
    </div>
  </div>
  <div>
  <br>
    <h3>Avis d'anciens locataires</h3>
    <ul class="list-group">
      <% @garden.reviews.each do |review| %>
        <li class="list-group-item"><%= review.content %></li>
      <% end %>
    </ul>
  </div>
</div>
