<div container class="container fullscreen_footer">
  <h1><%= @garden.title %></h1>
  <div class="d-flex">
    <div>
      <% @garden.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <%# <p>City : <%= @garden.city %></p>
      <p>Size : <%= @garden.size %> m2</p>
      <p>Capacity : <%= @garden.capacity %>  approx/people</p>
      <p>Description : <%= @garden.description %></p>
      <p>Price : <%= @garden.price_per_hour %> $/per hour</p>
      <br>
      <h3>Reviews</h3>
      <%# <p><%= @user.review %></p>
      <br>
      <%= link_to 'Main menu', root_path %>
    </div>
    <div data-controller="total-price" data-action="change->total-price#updateprice" data-total-price-pph-value="<%= @garden.price_per_hour %>">
      <%= simple_form_for [@garden, @booking] do |f| %>
        <%= f.input :start_date, as: :datetime, html5: true, input_html: {data: {total_price_target: "startdate"}}, :label => "Début"%>
        <%= f.input :end_date, as: :datetime, html5: true, input_html: {data: {total_price_target: "enddate"}}, :label => "Fin"%>
        <p data-total-price-target = "totalprice"></p>
        <%= f.submit 'Réserver', class: " btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div>
