<div container class="container fullscreen_footer">
  <h1><%= @garden.title %></h1>
  <div class="d-flex">
    <div>
      <% @garden.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <%# <p>City : <%= @garden.city %></p>
      <p> Surface : <%= @garden.size %> m2</p>
      <p> Capacité d'accueil : <%= @garden.capacity %> personnes</p>
      <p>Description : <%= @garden.description %></p>
      <p> Prix : <%= @garden.price_per_hour %> $/par heure</p>
      <br>
      <h3>Avis d'anciens locataires</h3>
      <%# <p><%= @user.review %></p>
      <br>
      <%= link_to 'Main menu', root_path %>
    </div>
    <div>
      <%= simple_form_for [@garden, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true%>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
