<div class="container fullscreen_footer">
  <h1>Mon Espace</h1>
  <h2 class="text-center"> Mes jardins</h2>

  <div class="garden-container">
    <div class="cards">
      <% @gardens.each do |garden| %>
        <div class="card-garden">
          <% if garden.photos.empty? %>
            <%= image_tag "garden_one", class:"img-garden" %>
          <% else %>
            <%= cl_image_tag garden.photos.first.key, class:"img-garden" %>
          <% end %>
          <h3 class="text-center my-2"><%= garden.title %></h3>
          <div class="d-flex justify-content-between mx-1">
            <p>Capacité : <%= garden.capacity %></p>
            <%= link_to  edit_garden_path(garden) do %>
              <i class="fa-solid fa-pen-to-square mx-2"></i>
            <% end %>
          </div>
          <div class="d-flex justify-content-between mx-1">
            <p> <%= garden.price_per_hour %>€ /heure</p>
            <%= link_to garden_path(garden), data: {turbo_method: :delete, turbo_confirm: "Veux-tu supprimer ce jardin ?"} do %>
              <i class="fa-solid fa-trash card-project-trash mx-2"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="card-dashboard-center card-add-garden">
        <%= link_to "+",  new_garden_path, class: "btn btn-flat btn-add btn-add-in-card" %>
      </div>
    </div>
  </div>

  <h2 class="mt-4 text-center"> Mes réservations à venir :</h2>
  <div class="cards my-4">
    <% @next_bookings.each do |booking| %>
    <div class="card-resa">
      <% if booking.garden.photos.empty? %>
        <%= image_tag "garden_one", class:"img-garden" %>
      <% else %>
        <%= cl_image_tag booking.garden.photos.first.key, class:"img-garden"%>
      <% end %>

        <% if booking.status %>
        <i class="status-1 fa-solid fa-check "></i>
      <% else %>
        <i class="fa-solid fa-clock-rotate-left status-2"></i>
      <% end %>
      <div class="text-center mx-2 mt-1">
      <h3><%= booking.garden.title %></h2>
      <p>Capacité : <%= booking.garden.capacity %></p>
      <p>Prix total : <%= booking.total_price %>€ </p>
        <%= link_to "Envoyer un message", garden_booking_room_path(booking.id, booking.room.id, booking.room.id),  :class => 'btn btn-flat w-75 mb-2' %>
        <%= link_to "Annuler",
          garden_booking_path(booking.garden, booking), :class => 'btn btn-flat w-75',
          data: {turbo_method: :delete, turbo_confirm: "êtes vous sûr de vouloir annuler cette réservation?"}
        %>
      </div>
    </div>
    <% end %>
  </div>


  <h2 class="mt-4 text-center"> Mes réservations passées : </h2>
  <div class="cards my-4">
    <% @past_bookings.each do |booking| %>
    <div class="card-resa">
      <% if booking.garden.photos.empty? %>
          <%= image_tag "garden_one", class:"img-garden" %>
      <% else %>
        <%= cl_image_tag booking.garden.photos.first.key, class:"img-garden"%>
      <% end %>
      <div class="text-center mx-2 mt-1">
        <h2><%= booking.garden.title %></h2>
          <%= simple_form_for [booking.garden, @review] do |f| %>
            <%= f.input :content, label: "Commentaire :"%>
            <%= f.submit "Notez votre hôte", class: "btn btn-flat w-75" %>
          <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
